@{
    ViewData["Title"] = "お知らせ";
}
<div class="container">
    <div class="row text-center category-menu">
        <div class="col-md-3">
            <div class="category-box">RECOMMENDED<br>COLUMN<br><hr class="custom-hr" /><span>オススメ</span></div>
        </div>
        <div class="col-md-3">
            <div class="category-box">RECOMMENDED<br>DIET<br><hr class="custom-hr" /><span>ダイエット</span></div>
        </div>
        <div class="col-md-3">
            <div class="category-box">RECOMMENDED<br>BEAUTY<br><hr class="custom-hr" /><span>美容</span></div>
        </div>
        <div class="col-md-3">
            <div class="category-box">RECOMMENDED<br>HEALTH<br><hr class="custom-hr" /><span>健康</span></div>
        </div>
    </div>

    <img src="~/images/icon/component_scroll.png" id="btn-on-top" class="btn-on-top" style="display: none" />

    <div class="row mt-4 article-grid">
        @for (int i = 0; i < 8; i++)
        {
            <div class="col-md-3 mb-4">
                <div class="article-box">
                    <div class="card card-image">
                        <img src="~/images/icon/morning.png" class="card-img-top" />
                        <div class="card-label">
                            <span class="timestamp">2021.05.17　23:25</span>
                        </div>
                    </div>
                    <div class="title">魚を食べて頭もカラダも元気に知っておきたい魚を食べる！知っておきたい魚を食べるメリ...</div>
                    <div class="tags">
                        <span>#魚料理</span><span>#和食</span><span>#DHA</span>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            <button id="load-more-btn" data-page="1" class="btn btn-load-more">
                <span class="text-add-meal">コラムをもっと見る</span>
            </button>
        </div>
    </div>
</div>
