:root {
  --c-light: #f0f0f0;
  --c-primary-300: #FFCC21;
  --c-primary-400: #FF963C;
  --c-primary-500: #EA6C00;
  --c-primary--300-400: #FFB12F;
  --c-secondary-300: #8FE9D0;
  --c-dark-600: #2E2E2E;
  --c-dark-500: #414141;
  --c-gray-400: #777777;
  --c-white: #FFFFFF;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/lib/webfonts/NotoSansJP-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/lib/webfonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url("/lib/webfonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
html, body {
  font-size: 14px;
  position: relative;
  min-height: 100%;
  font-family: "Noto Sans JP", "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}
@media (min-width: 768px) {
  html, body {
    font-size: 16px;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 64px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-content {
  flex: 1;
}

.custom-header {
  background-color: var(--c-dark-500);
  padding: 0px 8px;
  height: 64px;
}
.custom-header .navbar-brand {
  margin-left: 160px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.custom-header .navbar-brand .healthy-logo {
  width: 144px;
  height: 64px;
  object-fit: contain;
}
.custom-header .navbar-nav {
  margin-left: 360px;
  gap: 40px;
}
.custom-header .nav-link {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 5px;
}
.custom-header .sub-logo {
  height: 20px;
}
.custom-header .color-text-menu {
  color: var(--c-light);
}
.custom-header .color-text-menu:hover {
  color: var(--c-primary-400) !important;
}
.custom-header li {
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100vh;
  background-color: var(--c-gray-400);
  color: white;
  transition: right 0.3s ease-in-out;
  z-index: 2000;
}
.sidebar.open {
  right: 0;
}
.sidebar .sidebar-header {
  font-size: 28px;
  color: var(--c-primary-400);
  cursor: pointer;
}
.sidebar .sidebar-menu li {
  padding: 16px 20px;
  border-top: 2px inset var(--c-light);
  box-shadow: inset 0 -1px var(--c-gray-400);
}
.sidebar .sidebar-menu li a {
  color: var(--c-light);
  text-decoration: none;
}
.sidebar .sidebar-menu li a:hover {
  color: var(--c-primary-400) !important;
}
.sidebar .sidebar-menu li:hover {
  background-color: var(--c-gray-400);
  display: block;
}
.sidebar .icon-close {
  height: 20px;
}

.footer {
  background-color: var(--c-dark-500);
  padding: 24px 0;
  text-align: center;
  position: sticky;
  z-index: 100;
  bottom: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
  transform: translateY(0);
  opacity: 1;
}
.footer.hide-footer {
  transform: translateY(100%);
  opacity: 0;
}
.footer.scroll-mode {
  position: static;
}
.footer .footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
}
.footer .footer-links li a {
  color: var(--c-light);
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}
.footer .footer-links li a:hover {
  color: var(--c-primary-400);
}

.btn-on-top {
  position: fixed;
  width: 38px;
  height: 38px;
  border: none;
  font-size: 24px;
  right: calc((100% - 960px) / 2 - 70px);
  cursor: pointer;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.section {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  height: 240px;
}

.section-date-archievement {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.section-weight-body-graph {
  background-color: var(--c-dark-600);
}

.section-transition {
  padding: 0px;
  height: 12.64%;
}

.section-meal-history {
  height: 53.97%;
  width: 960px;
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 15px;
}

.circle-progress {
  position: relative;
  width: 150px;
  height: 150px;
}
.circle-progress svg {
  transform: rotate(-90deg);
}
.circle-progress .progress-circle {
  stroke: var(--c-light);
  stroke-width: 3;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease;
  filter: drop-shadow(0 0 6px var(--c-primary-500)) drop-shadow(0 0 12px var(--c-primary-500));
}
.circle-progress .circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  transform: translate(-50%, -50%);
  color: var(--c-light);
  text-align: center;
  text-shadow: 0 0 5px var(--c-primary-500), 0 0 10px var(--c-primary-500);
}
.circle-progress .circle-text .date {
  font-size: 13px;
  font-weight: 400;
}
.circle-progress .circle-text .percent {
  font-size: 16px;
  font-weight: bold;
}

.chart-container {
  background-color: var(--c-dark-600);
  height: 240px;
  width: 760px;
  max-width: 1000px;
  box-sizing: border-box;
  padding-left: 20px;
}

.icon-transition {
  width: 96px;
  height: 96px;
}

.btn-load-more {
  width: 288px;
  background-color: var(--c-primary--300-400);
  color: var(--c-light);
  margin: 16px 8px;
  height: 60px;
}
.btn-load-more:hover {
  color: var(--c-primary-500) !important;
}

.btn-filter-food {
  border: none;
  background-color: var(--c-white);
  margin-top: 15px;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge {
  font-size: 13px;
  font-weight: 400;
  font-family: Inter;
}

.card-label {
  position: absolute;
  background-color: var(--c-primary-300);
  color: var(--c-light);
  bottom: 0px;
  padding: 2px 6px;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
}

.custom-row {
  --bs-gutter-x: 10px;
  --bs-gutter-y: 10px;
}

.section-changllen {
  max-width: calc(100% - 160px);
}

.section-dashboard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 30px;
}
.section-dashboard .dashboard-card {
  position: relative;
  background-color: var(--c-primary-300);
  padding: 24px;
  text-align: center;
  cursor: pointer;
  height: 288px;
  width: 288px;
}
.section-dashboard .dashboard-card img {
  width: 240px;
  height: 240px;
  filter: grayscale(100%) brightness(0.7);
}
.section-dashboard .dashboard-card .card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--c-primary-300);
  text-align: center;
}
.section-dashboard .dashboard-card .card-content h5 {
  font-weight: bold;
  margin-bottom: 10px;
}
.section-dashboard .dashboard-card .card-content .badge-text {
  background-color: var(--c-primary-400);
  color: var(--c-light);
  padding: 5px 10px;
  font-size: 0.9rem;
  display: inline-block;
  width: max-content;
}

#exerciseSection,
#chartSection,
#diarySection {
  scroll-margin-top: 100px;
}

.exercise-card {
  background-color: var(--c-dark-500);
  padding: 15px;
  width: 960px;
  height: 264px;
  color: var(--c-light);
  font-weight: 400;
  font-family: "Inter";
  margin-top: 30px;
}
.exercise-card .exercise-header {
  display: flex;
  font-weight: bold;
  margin-bottom: 10px;
  align-items: flex-start;
  font-weight: 400;
  font-family: "Inter";
}
.exercise-card .exercise-header .title {
  font-size: 14px;
  line-height: 1.2;
  white-space: pre-line;
  padding-right: 30px;
}
.exercise-card .exercise-header .date {
  font-size: 14px;
  align-self: center;
}
.exercise-card .exercise-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.exercise-card .exercise-list::-webkit-scrollbar {
  width: 6px;
  padding-left: 2px;
}
.exercise-card .exercise-list .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.exercise-card .exercise-list .col-md-6 {
  padding-left: 0;
  padding-right: 35px;
}
.exercise-card .exercise-list::-webkit-scrollbar-track {
  background: var(--c-gray-400);
  border-radius: 10px;
}
.exercise-card .exercise-list::-webkit-scrollbar-thumb {
  background: var(--c-primary-300);
  border-radius: 10px;
  height: 2px;
}
.exercise-card .exercise-list .exercise-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #555;
}
.exercise-card .exercise-list .exercise-item .exercise-info {
  font-size: 14px;
}
.exercise-card .exercise-list .exercise-item .exercise-info .bullet {
  margin-right: 5px;
}
.exercise-card .exercise-list .exercise-item .exercise-info .kcal {
  font-size: 12px;
  color: var(--c-primary-300);
  margin-left: 16px;
}
.exercise-card .exercise-list .exercise-item .exercise-time {
  font-size: 14px;
  color: var(--c-primary-300);
  font-weight: 400;
  font-family: Inter;
}

.section-chart {
  width: 960px;
  height: 304px;
  background-color: var(--c-dark-500);
  margin-top: 30px;
  color: var(--c-light);
}
.section-chart .chart-header {
  display: flex;
  font-weight: bold;
  margin-bottom: 10px;
  align-items: flex-start;
  font-weight: 400;
  font-family: Inter;
  font-size: 15px;
  padding-top: 15px;
  padding-left: 15px;
}
.section-chart .chart-header .title {
  font-size: 14px;
  line-height: 1.2;
  white-space: pre-line;
  padding-right: 30px;
}
.section-chart .chart-header .date {
  font-size: 14px;
  align-self: center;
}
.section-chart .btn-filter-chart {
  width: 56px;
  height: 24px;
  border-radius: 11px;
  color: var(--c-primary-300);
  background-color: var(--c-light);
  font-size: 15px;
  padding: 0;
}
.section-chart .btn-filter-chart:hover {
  color: var(--c-light);
  background-color: var(--c-primary-300);
}
.section-chart .btn-filter-chart.btn-active {
  color: var(--c-light) !important;
  background-color: var(--c-primary-300) !important;
}

.diary-component {
  width: 960px;
  padding: 0px;
  font-family: "Inter";
  margin-top: 40px;
}
.diary-component .text-header-diary {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
}
.diary-component .card {
  border: 2px solid var(--c-gray-400);
  width: 231px;
  height: 231px;
}
.diary-component .card .card-body {
  padding: 10px 15px;
  display: block;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
  align-items: flex-start;
  color: var(--c-gray-400);
  height: 231px !important;
}
.diary-component .card .card-body .card-date {
  font-size: 1rem;
}
.diary-component .card .card-body .card-time {
  font-size: 0.9rem;
  margin: 0;
  margin-bottom: 12px;
}
.diary-component .card .card-body .card-title {
  font-size: 0.95rem;
  font-weight: normal;
  margin-bottom: 0px;
}
.diary-component .card .card-body .card-text {
  font-size: 0.9rem;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.category-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 20px;
  font-family: "Noto Sans JP";
  font-size: 22px;
  font-weight: 400;
}
.category-menu .category-box {
  background-color: var(--c-dark-600);
  color: var(--c-primary-300);
  padding: 20px 10px;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 3px solid var(--c-dark-600);
  cursor: pointer;
  height: 144px;
  width: 216px;
  transition: background-color 0.3s;
}
.category-menu .category-box span {
  display: block;
  color: var(--c-white);
  font-size: 16px;
  font-weight: normal;
  margin-top: 5px;
}
.category-menu .custom-hr {
  width: 56px;
  border: 1px;
  height: 1.5px;
  background-color: var(--c-white);
  margin: 8px auto;
}

.article-grid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 25px;
}
.article-grid .article-box {
  overflow: hidden;
  position: relative;
  height: 222px;
}
.article-grid .article-box .card-image {
  position: relative;
  width: 100%;
  height: 144px;
  overflow: hidden;
}
.article-grid .article-box .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.article-grid .article-box .card-image .card-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 144px;
  background-color: var(--c-primary-300);
  color: var(--c-white);
  font-size: 14px;
  padding: 4px 10px;
  text-align: left;
}
.article-grid .article-box .title {
  padding: 8px 10px 0;
  font-size: 14px;
  color: #333;
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.article-grid .article-box .tags {
  padding: 5px 10px 10px;
  font-size: 13px;
  color: var(--c-primary-400);
}
.article-grid .article-box .tags span {
  margin-right: 5px;
}
.article-grid .col-md-3 {
  padding: 5px;
}

/*# sourceMappingURL=main.css.map */
